@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Serwis Kupno/Sprzedaż</h1>
        <p> <a href="@Url.Action("Privacy")">Autorzy</a>.</p>
    </div>

<div>
    <a href="@Url.Action("AnnouncmentsList", "Announcments")"> Zobacz ogłoszenia </a>
</div>