@{
    ViewData["Title"] = "Home Page";

}

@model List<SerwisKupnoSprzedaz.Models.Announcment>

    <div class="text-center">
        <h1 class="display-4">Serwis Kupno/Sprzedaż</h1>
    </div>

   

@Html.Partial("AnnouncmentsList", Model)
