<h1>Panel Administracyjny</h1>
<ul>

    <li><a asp-controller="Admin" asp-action="ManageAnnouncements">Zarządzaj Ogłoszeniami</a></li>
    <li><a asp-controller="Admin" asp-action="ManageUsers">Zarządzaj Użytkownikami</a></li>
    <li><a asp-controller="Admin" asp-action="ManageOrders">Zarządzaj Zamówieniami</a></li>
</ul>